:root{
 --cor-fundo:#B61E4C;
  --cor-destaque:#36242A;
  --cor-texto:#FFFFFF;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--cor-fundo);
  color: var(--cor-texto)
}

.apresentacao{
  display: flex;
  margin: 10%;
  align-items: center;
  justify-content: space-between;
}

strong{
  color: var(--cor-destaque);
}

a{
  
}

.foto{
  height: 490px;
}



  